.editor {
  width: 7.3%;
  position: absolute;
  z-index: 1;

  animation: editor-entry 3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes editor-entry {
  0% {
    top: 2%;
    left: 100%;
  }
  100% {
    top: 9.2%;
    left: 50.7%;
  }
}
