.pointIndicator {
  width: 6%;
  position: absolute;
  //   top: 31%;
  //   left: 55.5%;
  z-index: 3;
  animation: pointIndicator 2.5s ease-in-out infinite;
}

@keyframes pointIndicator {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
