.lineArrow {
  width: 20%;
  position: absolute;

  animation: lineArrow 2.5s ease-in-out infinite;
}

@keyframes lineArrow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
