.collectorContainer {
  position: fixed;
  width: 50vw;
  height: 9.7vw;

  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));

  z-index: 100;

  //   background-color: #16ca22;

  animation: popOut 0.5s ease-in-out 1s forwards;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .badges {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    z-index: 19;
    .badge {
      position: relative;
      width: 8.5vw;
      height: 8.5vw;
    }
    .badgeXinan {
      position: relative;
      width: 7.5vw;
    }
  }
  .greyBadge {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 居中 */
    object-fit: contain;
    z-index: 1;
    z-index: 9;
  }
  .container {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    // z-index: 8;
  }
}

@keyframes popOut {
  0% {
    opacity: 0;
    transform: scale(0.2) translateX(-50%);
    top: 167vw;
    left: 50vw;
  }
  40% {
    opacity: 1;
    transform: scale(1.15) translateX(-50%);
    top: 167vw;
    left: 50vw;
  }
  65% {
    transform: scale(0.95) translateX(-50%);
    top: 167vw;
    left: 50vw;
  }
  85% {
    transform: scale(1.05) translateX(-50%);
    top: 167vw;
    left: 50vw;
  }
  100% {
    opacity: 0.8;
    transform: scale(1) translateX(-50%);
    top: 167vw;
    left: 50vw;
  }
}
